body{
	/*background-color:#feffea;*/
	background-color:#eee;
	font-size:0.85em;
	margin:0;
	padding:0;
}
#canvas{
	position: absolute;
	top:0px;
	left:0px;
}
#login_form{
	position:fixed;
	top:10px;
	left:10px;
	padding:10px;
	border: 1px solid #666;
}
.button{
	background-color:#999;
	color:#fff;
	cursor:pointer;
	text-align: center;
	margin-top:0.2em;
	padding:0.5em;
}
#skill_editor{
	opacity: 0;
}
#chat_form{
	opacity: 0;
	background-color:rgba(0,0,0,0.4);
	position:fixed;
	bottom:10px;
	left:10px;
	padding:10px;
	border: 1px solid #666;
	color:#fff;
}
#chat_show{
	width:200px;
	height:100px;
	overflow-y:scroll;
}
#chat_text{
	border:1px solid #666;
	width:180px;
	background:none;
	color:#fff;
}
input.ondes {color: #999;}// 説明の装飾;
input.nodes {color: #000;}// 通常の装飾;